
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Plugins CSS goes HERE  -->
{% block plugin_stylesheets %}
    <!-- chart.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css" integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g==" crossorigin="anonymous" />
    <link href="/static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">

{% endblock plugin_stylesheets %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Dashboard</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <!-- Column -->
                <div class="card">
                    <div class="card-block little-profile text-center">
                        <!-- <div class="pro-img"><img src="/static/assets/images/users/4.jpg" alt="user" /></div> -->
                        {%for key, value in beds.items()%}
                        <canvas class="drawMe" id="{{key}}" data-available="{{value['Available']}}" data-capacity="{{value['Bed_Count']}}" width="400" height="200"></canvas>
                        <h3 class="m-b-0">{{key}}</h3>
                        <p>{{value['Available']}}</p>
                        <hr>
                        {%endfor%}
                        <!-- <a href="javascript:void(0)"
                            class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Follow</a> -->
                        <!-- <div class="row text-center m-t-20">
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">1099</h3><small>Articles</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">23,469</h3><small>Followers</small>
                            </div>
                            <div class="col-lg-4 col-md-4 m-t-20">
                                <h3 class="m-b-0 font-light">6035</h3><small>Following</small>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Column -->
                <div class="card">
                    <div class="card-block bg-info">
                        <h4 class="text-white card-title">My Contacts</h4>
                        <h6 class="card-subtitle text-white m-b-0 op-5">Checkout my contacts here</h6>
                    </div>
                    <div class="card-block">
                        <div class="message-box contact-box">
                            <h2 class="add-ct-btn"><button type="button"
                                    class="btn btn-circle btn-lg btn-success waves-effect waves-dark">+</button>
                            </h2>
                            <div class="message-widget contact-widget">
                                <!-- Message -->
                                <a href="#">
                                    <div class="user-img"> <img src="/static/assets/images/users/1.jpg" alt="user"
                                            class="img-circle"> <span
                                            class="profile-status online pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5> <span class="mail-desc">info@wrappixel.com</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="user-img"> <img src="/static/assets/images/users/2.jpg" alt="user"
                                            class="img-circle"> <span
                                            class="profile-status busy pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Sonu Nigam</h5> <span class="mail-desc">pamela1987@gmail.com</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="user-img"> <span class="round">A</span> <span
                                            class="profile-status away pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Arijit Sinh</h5> <span
                                            class="mail-desc">cruise1298.fiplip@gmail.com</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="#">
                                    <div class="user-img"> <img src="/static/assets/images/users/4.jpg" alt="user"
                                            class="img-circle"> <span
                                            class="profile-status offline pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5>Pavan kumar</h5> <span class="mail-desc">kat@gmail.com</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home"
                                role="tab">Pending Requests</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile"
                                role="tab">Accepted Requests</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings"
                                role="tab">Waitlisted Requests</a> </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="card-block">
                                <div class="profiletimeline">
                                    <div class="sl-item">
                                        <table class="table table-hover">
                                           <th>
                                               <td>Username</td>
                                               <td>Bed Type</td>
                                               <td>Num</td>
                                               <td>Action</td>
                                           </th>
                                           {%for k, v in req_data.items()%}
                                           {%if v.get('status')=='Requested'%}
                                           <tr>
                                            <td>{{v.get('user')}}</td>
                                            <td>{{v.get('type')}}</td>
                                            <td>{{v.get('num_of_beds')}}</td>
                                            <td>
                                                <button type="button" data-toggle="modal" data-target="#{{k}}" class="btn btn-info">Accept</button>
                                                     <!-- Modal -->
                                                    <div class="modal fade" id="{{k}}" role="dialog">
                                                        <div class="modal-dialog">
                                                    
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                <h4 class="modal-title">Accept request of {{v.get('user')}}</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form action="{{ url_for('accept') }}" method="POST">
                                                                    <div class="form-group">
                                                                    <label for="user">User</label>
                                                                    <input type="text" name="user" value="{{v.get('user')}}" readonly>
                                                                    </div>
                                                                    <div class="form-group">
                                                                    <label for="num_of_beds">No.</label>&nbsp;&nbsp;
                                                                    <input type="number" name="num_of_beds" value="{{v.get('num_of_beds')}}">
                                                                    </div>
                                                                    <div class="form-group">
                                                                    <label for="type">Type</label>
                                                                    <input type="text" name="type" value="{{v.get('type')}}">
                                                                    </div>
                                                                    <input type="text" name="reqid" value="{{k}}" style="display: none;">
                                                                    <button type="submit" class="btn btn-info">Submit</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        </div>
                                                        <span>
                                                        <form action="{{url_for('waitlist')}}" method="post">
                                                            <input type="text" name="reqid" value="{{k}}" style="display: none;">
                                                            <button type="submit" class="btn btn-info ml-3">Waitlist</button>
                                                        </form>
                                                        </span>
                                            </td>
                                           </tr>
                                           {%endif%}
                                           {%endfor%}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                        <!--second tab-->
                        <div class="tab-pane" id="profile" role="tabpanel">
                            <div class="card-block">
                                <div class="profiletimeline">
                                    <div class="sl-item">
                                        <table class="table table-hover">
                                           <th>
                                               <td>Username</td>
                                               <td>Bed Type</td>
                                               <td>Beds Allotted</td>
                                               <td>Action</td>
                                           </th>
                                           {%for k, v in req_data.items()%}
                                           {%if v.get('status')=='Allotted'%}
                                           <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.get('user')}}</td>
                                            <td>{{v.get('type')}}</td>
                                            <td>{{v.get('num_of_beds')}}</td>
                                            <td>
                                                <button type="button" class="btn btn-info">View</button>   
                                            </td>
                                           </tr>
                                           {%endif%}
                                           {%endfor%} 
                                        </table>
                                    </div>
                                </div> 
                            </div>
                        </div>
                         <!--third tab --> 
                        <div class="tab-pane" id="settings" role="tabpanel">
                            <div class="card-block">
                                <div class="profiletimeline">
                                    <div class="sl-item">
                                        <table class="table table-hover">
                                           <th>
                                               <!-- <td>id</td> -->
                                               <td>Username</td>
                                               <td>Bed Type</td>
                                               <td>Beds Requested</td>
                                               <td>Action</td>
                                           </th>
                                           {%for k, v in req_data.items()%}
                                           {%if v.get('status')=='Waitlisted'%}
                                           <tr>
                                            <td>{{k}}</td>
                                            <td>{{v.get('user')}}</td>
                                            <td>{{v.get('type')}}</td>
                                            <td>{{v.get('num_of_beds')}}</td>
                                            <td>
                                                <button type="button" class="btn btn-info">Accept</button>
                                                <span>
                                                    <form action="{{url_for('reject')}}" method="post">
                                                        <input type="text" name="reqid" value="{{k}}" style="display: none;">
                                                        <button type="submit" class="btn btn-info ml-3">Reject</button>
                                                    </form>
                                                </span>
                                               </td>
                                           </tr>
                                           {%endif%}
                                           {%endfor%} 
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>

{% endblock content %}

{% block javascripts %}

    <!-- chart.js  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
 
    <!--c3 JavaScript -->
    <script src="/static/assets/plugins/d3/d3.min.js"></script>
    <script src="/static/assets/plugins/c3-master/c3.min.js"></script>

    <script>
        var options = {
            circumference: Math.PI,
            rotation: Math.PI,
            animation: {
                animateScale: true
            }
        };
        function drawPieGraph(cid, avail_beds, total_beds){
            avail_beds = parseInt(avail_beds);
            total_beds = parseInt(total_beds);
            var data = [total_beds-avail_beds, avail_beds];
            var ctx = document.getElementById(cid);
            var data = {
            datasets: [{
                data: data,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)'
                ],
            }],
            labels: [
                'Occupied',
                'Available'
            ]
        };
            var myDoughnutChart = new Chart(ctx, {
                type: 'doughnut',
                data: data,
                options: options
        });
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            let canvases = document.getElementsByClassName("drawMe");
            for(var i = 0; i < canvases.length; i++){
                let c = canvases[i];
                var avail_beds = c.getAttribute("data-available");
                var total_beds = c.getAttribute("data-capacity");
                var bed_type = c.getAttribute("id");
                drawPieGraph(bed_type, avail_beds, total_beds);
            }
        });

    </script>

{% endblock javascripts %}
