<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523915957114-2u390ehbh3jidpil86vk4pvc2t7vgs4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523915957114-2u390ehbh3jidpil86vk4pvc2t7vgs4j</string>
	<key>API_KEY</key>
	<string>AIzaSyC_HQh78ptl_hOplFqgeIoQ6r_agHRq_QE</string>
	<key>GCM_SENDER_ID</key>
	<string>523915957114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swasthyaloop</string>
	<key>PROJECT_ID</key>
	<string>swasthyaloop</string>
	<key>STORAGE_BUCKET</key>
	<string>swasthyaloop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523915957114:ios:233f1b97f94216cff2fcc3</string>
</dict>
</plist>